@charset "UTF-8";
@import "common/var";
@import "mixins/button";
@import "mixins/mixins";
@import "mixins/utils";
.el-search{

    height:40px;

    .el-input-group__append{
        background:$--color-primary;
        color:#fff;
        border:1px solid $--color-primary;
        width:18px;

        &:hover,
        &:focus {
          border-color:$--color-text-active;
          background-color:$--color-text-active;
        }

        .el-icon-search{
            font-size: 18px;
            font-weight: bold;
        }

    }

}